//helpers
.rotate {

  /* Safari */
  -webkit-transform: rotate(-180deg);

  /* Firefox */
  -moz-transform: rotate(-180deg);

  /* IE */
  -ms-transform: rotate(-180deg);

  /* Opera */
  -o-transform: rotate(-180deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=6);

}


.btn-search-wrapper {
  top: 1px;
  right: 0;
}

.btn-input {
  background-color: transparent;
  border: none;
  color: map-get($colors, 'brand-light');

  &:hover, &:focus {
    color: map-get($colors, 'brand-light');
  }
}

.btn-advanced {
  @include breakpoint(map-get($breakpoints, 'mobile-only')) {
    position: absolute;
    right:48px;
    top: -93px;
  }
}

.btn-brand-default {
  background-color: map-get($colors, 'copy-primary-medium');
  @extend .transition-slow;

  &:hover, &:focus {
    opacity: 0.8;
    color:map-get($colors,'brand-light');
  }
}

.btn-menu {
  @extend .transition-slow;

 /* @include breakpoint(map-get($breakpoints, 'mobile-only')) {
/!*    margin-top: -33px;*!/
    position: relative;
    top: -93px;
    right:0;
  }*/


}

.btn-times {
  @extend .transition-slow;
  &:hover, &:focus {
    opacity: 0.8;
    color:map-get($colors,'brand-light');
  }
}

.btn-search-plus{
  margin-right:$helper-standard;

  @include breakpoint(map-get($breakpoints, 'mobile-only')) {
    margin-right:0;
  }
}

/* Remove controls from Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Removes leftover margin */
  }

/*input[type=number]::-webkit-textfield-decoration-container {
  border: 1px #ccc solid;
  background: #efefef;
}*/

/* Re-applies the controls on :hover and :focus */
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

/*
html:not([dir="rtl"]) input {
  text-align: center;
}
*/

/*.pdp-button, .pdp-button.add-basket{
  @include breakpoint(map-get($breakpoints, 'small-tablet-up')) {
    width: 258px;
  }

  .chevron-icon-right{
    position: absolute;
    right:10px;
    font-size: 30px;
    top:3px;
  }

  .chevron-icon-left{
    position: absolute;
    left:10px;
    font-size: 30px;
    top:3px;
  }
}*/




