---
layout: default
title: Home
name: Home
bootstrapJs: true

---
<main role="main">

    <div class="fadeMe js-fade-me"></div>
    <div>
        {{>side-menu}}
        {{>header}}
    </div>
    <div class="container">
        <div class="text-align-center">
            <img class="intro-poster" src="/static/images/posters/intro-poster.jpg"/>

            <div class="thick-marg-top">
                <img class="intro-poster" src="/static/images/posters/products.jpg"/>
            </div>
        </div>
    </div>


    {{>footer}}


</main>
