<!DOCTYPE HTML>
<html>
<head>
    <title>Index - Mainline Mouldings</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, initial-scale=1"/>
    <style type="text/css">
        * { border: 0; margin: 0; outline: 0; padding: 0; }
        body { background: #fff; padding: 25px; color:white }
        h1 { color: #000; font: bold 25px/30px Arial; margin-bottom: 10px; }
        a { color: #000; font: normal 15px/20px Arial; text-decoration: none; display: block; padding: 5px 0; }
        a:focus, a:hover { text-decoration: underline; }
        ol {  margin-left:50px;  }
        li{color:white; padding-left:20px;}
    </style>
</head>
<body>
<header><h1>Husqui</h1></header>

<h3 style="color:black; margin-left:20px;">Templates</h3>
<ol style="margin-bottom:20px;">
    <li><a target="_blank" href="./home.html">Home</a></li>

</ol>





</body>
</html>