.transition-slow {

/*  $transition-speed: 200ms;

  -webkit-transition: all $transition-speed ease-in-out;
  -moz-transition: all $transition-speed ease-in-out;
  -o-transition: all $transition-speed ease-in-out;
  transition: all $transition-speed ease-in-out;*/
}

.rotate {

  /* Safari */
  -webkit-transform: rotate(-180deg);

  /* Firefox */
  -moz-transform: rotate(-180deg);

  /* IE */
  -ms-transform: rotate(-180deg);

  /* Opera */
  -o-transform: rotate(-180deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=6);

}