/**
 * Margin & padding  Helpers
 */
// paddings
.no-pad {
  padding: 0 !important;
}

.no-pad-bottom {
  padding-bottom: 0 !important;
}

.no-pad-top {
  padding-top: 0 !important;
}

.no-pad-side {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-pad-left {
  padding-left: 0 !important;
}

.no-pad-right {
  padding-right: 0 !important;
}

.pad {
  padding: $helper-standard;
}

.pad-side {
  padding: 0 $helper-standard;
}

.pad-left {
  padding-left: $helper-standard;
}

.pad-right {
  padding-right: $helper-standard;
}

.pad-top {
  padding-top: $helper-standard;
}

.pad-bottom {
  padding-bottom: $helper-standard;
}

.pad-top-bottom {
  padding-top: $helper-standard;
  padding-bottom: $helper-standard;
}

.medium-pad {
  padding: $helper-medium;
}

.medium-pad-side {
  padding: 0 $helper-medium;
}

.medium-pad-left {
  padding-left: $helper-medium;
}

.medium-pad-right {
  padding-right: $helper-medium;
}

.medium-pad-top {
  padding-top: $helper-medium;
}

.medium-pad-bottom {
  padding-bottom: $helper-medium;
}

.thick-pad {
  padding: $helper-thick;
}

.thick-pad-side {
  padding: 0 $helper-thick;
}

.thick-pad-left {
  padding-left: $helper-thick;
}

.thick-pad-right {
  padding-right: $helper-thick;
}

.thick-pad-top {
  padding-top: $helper-thick;
}

.thick-pad-bottom {
  padding-bottom: $helper-thick;
}

.thick-pad-top-bottom {
  padding-top: $helper-thick;
  padding-bottom: $helper-thick;
}

.thin-pad {
  padding: $helper-thin;
}

.thin-pad-side {
  padding: 0 $helper-thin;
}

.thin-pad-left {
  padding-left: $helper-thin;
}

.thin-pad-right {
  padding-right: $helper-thin;
}

.thin-pad-top {
  padding-top: $helper-thin;
}

.thin-pad-bottom {
  padding-bottom: $helper-thin;
}

.thin-pad-top-bottom {
  padding-top: $helper-thin;
  padding-bottom: $helper-thin;
}

.extra-thin-pad {
  padding: $helper-extra-thin;
}

.extra-thin-pad-side {
  padding: 0 $helper-extra-thin;
}

.extra-thin-pad-left {
  padding-left: $helper-extra-thin;
}

.extra-thin-pad-right {
  padding-right: $helper-extra-thin;
}

.extra-thin-pad-top {
  padding-top: $helper-extra-thin;
}

.extra-thin-pad-bottom {
  padding-bottom: $helper-extra-thin;
}

.extra-thin-pad-top-bottom {
  padding-top: $helper-extra-thin;
  padding-bottom: $helper-extra-thin;
}

.extra-thick-pad {
  padding: $helper-extra-thick;
}

.extra-thick-pad-side {
  padding: 0 $helper-extra-thick;
}

.extra-thick-pad-left {
  padding-left: $helper-extra-thick;
}

.extra-thick-pad-right {
  padding-right: $helper-extra-thick;
}

.extra-thick-pad-top {
  padding-top: $helper-extra-thick;
}

.extra-thick-pad-bottom {
  padding-bottom: $helper-extra-thick;
}

.extra-thick-pad-top-bottom {
  padding-top: $helper-extra-thick;
  padding-bottom: $helper-extra-thick;
}

//margins
.no-marg {
  margin: 0 !important;
}

.no-marg-bottom {
  margin-bottom: 0 !important;
}

.no-marg-top {
  margin-top: 0 !important;
}

.no-marg-left {
  margin-left: 0 !important;
}

.no-marg-right {
  margin-right: 0 !important;
}

.no-marg-side {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.marg {
  margin: $helper-standard;
}

.marg-side {
  margin: 0 $helper-standard;
}

.marg-left {
  margin-left: $helper-standard;
}

.marg-right {
  margin-right: $helper-standard;
}

.marg-top {
  margin-top: $helper-standard;
}

.marg-bottom {
  margin-bottom: $helper-standard;
}

.marg-top-bottom {
  margin-top: $helper-standard;
  margin-bottom: $helper-standard;
}

.medium-marg {
  margin: $helper-medium;
}

.medium-marg-side {
  margin: 0 $helper-medium;
}

.medium-marg-left {
  margin-left: $helper-medium;
}

.medium-marg-right {
  margin-right: $helper-medium;
}

.medium-marg-top {
  margin-top: $helper-medium;
}

.medium-marg-bottom {
  margin-bottom: $helper-medium;
}

.medium-marg-top-bottom {
  margin-top: $helper-medium;
  margin-bottom: $helper-medium;
}

.thick-marg {
  margin: $helper-thick;
}

.thick-marg-side {
  margin: 0 $helper-thick;
}

.thick-marg-left {
  margin-left: $helper-thick;
}

.thick-marg-right {
  margin-right: $helper-thick;
}

.thick-marg-top {
  margin-top: $helper-thick;
}

.thick-marg-bottom {
  margin-bottom: $helper-thick;
}

.thick-marg-top-bottom {
  margin-top: $helper-thick;
  margin-bottom: $helper-thick;
}

.extra-thick-marg {
  margin: $helper-extra-thick;
}

.extra-thick-marg-side {
  margin: 0 $helper-extra-thick;
}

.extra-thick-marg-left {
  margin-left: $helper-extra-thick;
}

.extra-thick-marg-right {
  margin-right: $helper-extra-thick;
}

.extra-thick-marg-top {
  margin-top: $helper-extra-thick;
}

.extra-thick-marg-bottom {
  margin-bottom: $helper-extra-thick;
}

.extra-thick-marg-top-bottom {
  margin-top: $helper-extra-thick;
  margin-bottom: $helper-extra-thick;
}

.thin-marg {
  margin: $helper-thin;
}

.thin-marg-side {
  margin: 0 $helper-thin;
}

.thin-marg-left {
  margin-left: $helper-thin;
}

.thin-marg-right {
  margin-right: $helper-thin;
}

.thin-marg-top {
  margin-top: $helper-thin;
}

.thin-marg-bottom {
  margin-bottom: $helper-thin;
}

.thin-marg-top-bottom {
  margin-top: $helper-thin;
  margin-bottom: $helper-thin;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.display-block {
  display: block;
}

.btn-inline-block {
  display: inline-block;
}

.display-none {
  display: none;
}

//responsive screen helpers

@include breakpoint(map-get($breakpoints, 'mobile-and-tablet-only')) {
  .display-none-mobile-tablet {
    display: none;
  }
}

@include breakpoint(map-get($breakpoints, 'mobile-and-small-tablet-only')) {
  .display-none-mobile-small-tablet {
    display: none;
  }
}
@include breakpoint(map-get($breakpoints, 'mobile-and-large-tablet-only')) {
  .display-none-mobile-tablet-large {
    display: none;
  }
}


@include breakpoint(map-get($breakpoints, 'mobile-only')) {
  .display-none-mobile {
    display: none;
  }
}

@include breakpoint(map-get($breakpoints, 'small-mobile')) {
   .display-none-small-mobile {
     display: none;
   }
 }



@include breakpoint(map-get($breakpoints, 'mobile-up')) {
  .display-none-mobile-up {
    display: none;
  }
}

@include breakpoint(map-get($breakpoints, 'large-tablet-up')) {
  .display-none-large-tablet-up {
    display: none;
  }
}

@include breakpoint(map-get($breakpoints, 'small-tablet-up')) {
  .display-none-small-tablet-up {
    display: none;
  }
}


.vis-none {
  visibility: hidden;
}

.relative-pos {
  position: relative;
}

.absolute-pos {
  position: absolute;
}

.vertical-align-top {
  vertical-align: top;
}

.vertical-align-mid {
  vertical-align: middle;
}

.vertical-align-bottom{
  vertical-align: bottom;
}

.text-align-center {
  text-align: center;
}



//Texrt Align
.text-align-right {
  text-align: right;
}
.text-align-left{
  text-align: left;
}

.text-align-right-mobile {
  @include breakpoint(map-get($breakpoints, 'mobile-only')) {
    text-align: right;
  }
}

.text-decoration-none {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.text-underline{
  text-decoration: underline;
}

.line-height-1{
  line-height: 1;
}

//backgrounds

//need to make background colors more generic

/*.background-extra-light-grey {
  background-color: map-get($colours-in-house, 'extra-light-grey');
}

.background-light-grey {
  background-color: map-get($colours-in-house, 'light-grey');
}

.background-grey {
  background-color: map-get($colours, 'background-dashboard');
}

.background-white {
  background: map-get($colours, 'content');
}

.background-green {
  background: map-get($colours-in-house, 'u-can-green');
}

.background-light-blue {
  background: map-get($colours, 'feel-good-sky');
}*/

.background-orange {
  background: map-get($colors, 'brand-dark');
}

//backgrounds
.background-yellow {
  background: map-get($colors, 'brand-yellow');
}

.background-purple {
  background: map-get($colors, 'brand-purple');
}

.background-green {
  background: map-get($colors, 'brand-green');
}

.background-light-grey{
  background: map-get($colors, 'copy-primary-light');
}


.background-grey{
  background: map-get($colors, 'copy-primary-medium');
}

.background-green{
  background: map-get($colors, 'brand-green');
}

//colours
.color-copy-primary-dark {
  color: map-get($colors, 'copy-primary-dark');
}

.color-copy-primary-medium {
  color: map-get($colors, 'copy-primary-medium');
}

.color-copy-primary-light {
  color: map-get($colors, 'copy-primary-light');
}

.color-brand-light {
  color: map-get($colors, 'brand-light')
}

.color-brand-dark{
  color: map-get($colors, 'brand-dark')
}

.color-white {
  color: white;
}

.color-black {
  color: black;
}

//Borders
.border-bottom-primary {
   border-bottom: 1px solid map-get($colors, 'brand-light');
 }

.border-top-primary {
  border-top: 1px solid map-get($colors, 'brand-light');
}

.border-bottom-secondary {
  border-bottom: 1px solid map-get($colors, 'copy-primary-medium');
}

.border-all-secondary {
  border: 1px solid map-get($colors, 'copy-primary-medium');
}

.border-top-secondary {
  border-top: 1px solid map-get($colors, 'copy-primary-medium');
}

.border-all-primary {
  border: 1px solid map-get($colors, 'brand-light');
}

.border-top-white {
  border-top: 1px solid white;
}

.border-bottom-white {
  border-bottom: 1px solid white;
}

/*.border-top-grey {
  border-top: 1px solid map-get($colors, 'background');
}

.border-bottom-grey {
  border-bottom: 1px solid map-get($colors, 'background');
}

.border-right-grey {
  border-right: 1px solid map-get($colors, 'background');
}


.border-grey-box {
  border: 1px solid map-get($colors, 'background');
}*/

.word-wrap-text {
  word-wrap: break-word;
}

.word-wrap-text-all {
  word-break: break-all;
}

//List
.list-style-none {
  list-style: none;
}

//hover
.hover-strong:hover {
  color: map-get($colors, 'copy-primary-dark');
  font-weight: map-get($font-weight, 'strong');
  cursor: pointer;
}

.hover-orange{
  @extend .transition-slow;

  &:hover {
    color: map-get($colors, 'brand-light');
  }
}

//cursor
.cursor-pointer {
  cursor: pointer;
}

.cursor-none, .fa.cursor-none{
  cursor: default;
}



.col-centered {
  float: none !important;
  margin-left: auto;
  margin-right: auto;
}

//responsive screens

@media screen and (min-width: map-get($breakpoints, 'tablet')) {
  /*  .no-marg-tablet-up {
      margin: 0;
    }*/
}

@media screen and (max-width: map-get($breakpoints, 'tablet-large')) {
  /*  .tablet-down-marg-top {
      margin-top: $helper-thick;
    }

    .tablet-down-border-none {
      border: none;
    }

    .position-static-tablet-down {
      position: static;
    }*/
}

//font size

.font-size-sm{
   font-size:10px
}

.font-size-md{
  font-size:12px
}

.no-pad-mobile-tablet{
  @include breakpoint(map-get($breakpoints, 'mobile-and-tablet-only')) {
    padding:0;
  }
}



