<footer>
    <section class="container-fluid footer-wrapper">
        <div class="container">
            <div class="col-md-12 no-pad-side thick-marg-top">
                <section class="row no-marg">
                    <ul class="list-style-none text-align-center no-pad">
                        <li class="inline-block marg-right">
                            <h3 class="marg-top-bottom"><a class="color-black" href="https://en-gb.facebook.com/vapetemptations/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></h3>
                        </li>
                        <li class="inline-block marg-right">
                            <h3 class="marg-top-bottom"><a class="color-black" href="https://www.pinterest.com/pin/168462842291201393/"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a></h3>
                        </li>
                        <li class="inline-block">
                            <h3 class="marg-top-bottom"><a class="color-black" href="http://webgram.co/vape_temptations"><i class="fa fa-instagram" aria-hidden="true"></i></a></h3>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="col-md-12 text-align-center">
                <p>VapeTemptations 2017 &copy;</p>
            </div>
        </div>
    </section>
</footer>
