<footer>
    <section class="container-fluid footer-wrapper">
        <div class="container">
            <div class="col-md-12 no-pad-side thick-marg-top">
                <section class="row no-marg">
                    <div class="col-md-4 col-sm-6 no-pad">
                        <ul class="no-pad list-style-none no-marg">
                            <li><a href="#">About Mainline Mouldings</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Environmental Statement</a></li>
                            <li><a href="#">Site Tools Help</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-6 no-pad marg-bottom">
                        <ul class="no-pad list-style-none no-marg">
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Cookies</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-12 no-pad-side">
                        <span class="color-white black-jack-text">Subscribe to our newsletter!</span>
                        <div class="col-md-12 no-pad marg-top">
                            <form action="#">
                                <input type="email" placeholder="Email" class="form-control text-align-left">
                                <div class=" btn-search-wrapper absolute-pos">
                                    <button type="submit" class="btn btn-input">
                                        <span class="fa fa-pencil-square-o"></span>
                                    </button>
                                </div>
                            </form>
                            <div class="">
                                <h3 class="icon-facebook marg-right">&nbsp;</h3>

                                <h3 class="inline marg-right icon-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></h3>

                                <h3 class="icon-pinterest marg-right">&nbsp;</h3>

                                <h3 class="icon-frames-forum marg-right">&nbsp;</h3>

                                <div class="mastercard-geo-wrapper">
                                    <h3 class="icon-mastercard-visa">&nbsp;</h3>

                                    <h3 class="icon-geotrust no-marg">&nbsp;</h3>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</footer>
