<header class="container-fluid border-bottom-primary no-pad">
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12 no-pad-side">
            <div class="row no-marg">
                <div class="col-md-12 col-sm-12 col-xs-12 no-pad-side pad-top pad-bottom">
                    <nav class="col-md-12 col-sm-12 col-xs-12 no-pad-side nav-links-wrapper">
                        <div class="row no-marg">
                            <ul class="nav-links no-pad">
                                <li>
                                    <span class="text-align-right btn-menu">
                                        <button class="btn btn-brand-default color-white js-btn-menu"><i class="fa fa-bars" aria-hidden="true"></i></button>
                                    </span>
                                </li>
                            </ul>
                        </div>

                    </nav>
                    <!--<div class="col-md-9 col-sm-4 col-xs-12 no-pad-side">
                        <a href="#" class="brand-logo-wrapper text-decoration-none">
                            <div class="brand-logo"></div>
                        </a>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</header>

