<!doctype html>
<html{{#if locale}} lang="{{locale}}"{{/if}}>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    {{#if description}}<!-- Meta description -->
        <meta name="description" content="{{description}}">

    {{/if}}<!-- Handheld support -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Title Icon - Favicon-->
    <link rel="shortcut icon" href="static/images/favicon.ico"/>


    <!-- CSS includes -->
    <link rel="stylesheet" href="static/css/main.min.css?v={{timestamp}}">


</head>
<body>

<div class="page page--enabled">

    {% body %}

</div>

<!-- JavaScript includes -->




<script src="static/script/main.min.js"></script>

{{#if bootstrapJs}}
    <script type="text/javascript" src="static/script/jquery/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="static/script/plugins/bootstrap.min.js"></script>
    <script>
        var $i = jQuery.noConflict();
    </script>
{{/if}}















</body>
</html>
