<div class="container relative-pos">
    <div class="side-menu js-side-menu">
        <div class="text-align-right"><h3 class="no-marg">
            <i class="fa fa-times btn-times thick-pad cursor-pointer js-btn-times" aria-hidden="true"></i></h3></div>
        <ul class="js-nav-list no-pad-top">
            <li class="secondary-nav-item">
                <div class="cursor-pointer js-secondary-nav-item">Accordion <h3 class="no-marg inline">
                    <i class="fa fa-angle-down icon-angle pull-right" aria-hidden="true"></i></h3></div>

            </li>
            <!--<li class="secondary-nav-item">
                <div class="cursor-pointer js-secondary-nav-item">Equipment <h3 class="no-marg inline">
                    <i class="fa fa-angle-down icon-angle pull-right" aria-hidden="true"></i></h3></div>

            </li>
            <li class="secondary-nav-item">
                <div class="cursor-pointer js-secondary-nav-item">Blade Sharpening <h3 class="no-marg inline">
                    <i class="fa fa-angle-down icon-angle pull-right" aria-hidden="true"></i></h3></div>

            </li>
            <li class="secondary-nav-item">
                <div class="cursor-pointer js-secondary-nav-item">Gallery <h3 class="no-marg inline">
                    <i class="fa fa-angle-down icon-angle pull-right" aria-hidden="true"></i></h3></div>

            </li>
            <li class="secondary-nav-item">
                <div class="cursor-pointer js-secondary-nav-item"><a class="display-block" href="#">Sale</a></div>
            </li>
            <li class="secondary-nav-item">
                <div class="cursor-pointer js-secondary-nav-item marg-bottom">
                    <a class="display-block" href="#">New</a>
                </div>
            </li>-->
            <li><a href="#">Lorum Ipsum</a></li>
            <!--<li><a href="index.php?PageLink=Tools&amp;Tab=ProductCodes">Your own product codes</a></li>
            <li><a href="index.php?PageLink=LogIn&amp;LoginMessage=UseStockNotification">StockWatch - stock notifications</a></li>
            <li><a href="index.php?PageLink=Tools&amp;Tab=Delivery">Estimated delivery dates</a></li>
            <li><a href="index.php?Logged&amp;CustomerAccount">Account statements</a></li>
            <li><a href="index.php?PageLink=ObsoleteProducts">Obsolete Catalogue Products</a></li>
            <li><a href="index.php?PageLink=Tools">Site Tools information</a></li>-->



        </ul>

    </div>
</div>






